*{
    margin: 0;
}

.App{
    background-image: url(background5.jpg) ;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    height: max-content; 
    /* height: 937px;
    overflow: hidden;  */
}

.pack-art{
    height: 300px;
    width: 200px;
}

.pack-section{
    margin: 3%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
}